

<div class="about-content faq">
	<img src="{{ '/assets/images/P1016077.JPG' | relative_url }}" style="width:100%">

	<div class="about-header">
		<h1>FAQs For Teams</h1>
	</div>
	<div class="faq-header">
		<h1>Competition related questions:</h1>
		<p>Click a question to expand the answer.</p>
	</div>


	<details>
		<summary>When should I start building my robot? </summary>
		<div class="answer">
			<p>As soon as possible! We would recommend starting when you get back to university and not leaving it all to the last minute - we will not have facilities at the event for you to do anything more than minor emergency repairs.</p>
		</div>
	</details>

	<details>
		<summary>What are the prizes?</summary>
		<div class="answer">
			<p><b>Regionals</b></p>
			<p>The top three robots will be awarded certificates after the league competition!</p>

			<br>

			<p><b>Finals</b></p>
			<p>The top three robots will be awarded prizes after the knockout competition!</p>
			<p>We have also introduced two new awards for this season:</p>
			<ul>
				<li><b>Creativity and Technical Award</b>: [SPONSORED PRIZE] Awarded to the robot that showcases the best creativity and complexity in the technology used or the design of the robot. Our Sponsors will be awarding this prize at the end of the Competition Day.</li>
				<li><b>Blogging Award</b>: Awarded to a team that has shared their journey, their progress on social media or personal blog. We want to see you share about your experience participating in Unibots UK Competition and want to reward you for doing so! UO will award this prize at the end of the Competition Day.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Are you providing funding/accomodation?</summary>
		<div class="answer">
			<p>No, however if you need further evidence to ask your university for funding to help you take part, just drop us an email (unibots.uk.comp@gmail.com) and we can provide what you need.</p>
		</div>
	</details>

	<details>
		<summary>Will there be a fee to attend events or register a team?</summary>
		<div class="answer">
		  <p>There is no fee to attend events nor to register a team for this season!</p>
		</div>
	</details>
	
	<details>
		<summary>Can we attend both the regional events in Cambridge and Edinburgh before the finals? </summary>
		<div class="answer">
			<p>Yes you can attend both regionals! The only thing to keep in mind is that we don't sponsor any travel costs.</p>
		</div>
	</details>

	<details>
		<summary>Are we supposed to have a working robot by February for the regionals? Do they impact the qualifications?</summary>
		<div class="answer">
			<p>Regionals are created for you to trial your robot and see the arena in person and your robot in action so ideally you want a somewhat working robot. But it does not need to be « finalised » until the finals day in July.</p>
		</div>
	</details>
	
	<details>
		<summary>When should I register my teams by?</summary>
		<div class="answer">
			<p>At the moment, there is no deadline for the general sign up as we have the finals quite late this season. But signing up now means you will get any new information -such as details & sign ups forms regarding regionals straight into your inbox/chat. You don’t need to have ALL the info now to sign up, it also helps us gauge the interest for any goodies coming up this year. </p>
		</div>
	</details>
	
	<details>
		<summary>Where do I sign up to attend a regional?</summary>
		<div class="answer">
			<p> The Edinburgh regional has now finished! Please see below for other details.</p><br>
			<p> The sign-up for the Cambridge regional is now open, sign up <a href="https://forms.gle/RGqMerqaVE8mPtSQA">here!</a></p>

		</div>
	</details>

	<details>
		<summary>Are there limits on the number of teams from each university?</summary>
		<div class="answer">
			<p>No, we welcome multiple teams from the same university (but please sign up separately). If you are part of a student society and are unsure of who will be on the teams, please register the rough number of students you think will take part, and email us to confirm later on. You definitely don'’'t have to be part of a society though - we welcome teams of friends/coursemates/enemies/insert relationship here!</p>
		</div>
	</details>

	<details>
		<summary>Is there a maximum number of team members?</summary>
		<div class="answer">
			<p>There is no maximum, however you may very quickly encounter a "too many cooks" situation when trying to design the robot!</p>
		</div>
	</details>

	<details>
		<summary>Can non-students (e.g. lecturers, technicians) help build the robot?</summary>
		<div class="answer">
			<p>Generally the students should be doing a majority of the design and building work, but if you were to ask lecturers for their advice, or for them to check over designs, that would be well within the rules! So students doing the actual work, lecturers there to verify and scrutinise!</p>
		</div>
	</details>


	<div class="faq-header">
		<h1>Rule related questions:</h1>
		<p>Click a question to expand the answer.</p>
	</div>



	<details>
		<summary>Is there a maximum amount of ping pong balls/ball bearings that the robot can hold at any given time?</summary>
		<div class="answer">
			<p>There is no maximum, the robot can hold as many as it wishes!</p>
		</div>
	</details>

	<details>
		<summary>Can I connect my robot to a laptop or other external device during the match?</summary>
		<div class="answer">
			<p>No, all processing, be that action prediction, computer vision, etc. must be done within the bounds of the robot. For example, you cannot connect your robot's control system
				to a laptop arena side which is aiding the computer vision; or connect your robot control system to an online LLM which is aiding in action prediction. <br>
				Computer vision and action prediction can be performed, as long as all processing is done within the robot. This could be using a standard Raspberry Pi
				within the robot, a NVIDIA Jetson device, or other single board computer. Processing can also be performed on a mobile phone contained within the robot's body,
				and may be connected wirelessly. Again, this mobile device must not then connect to the internet for further processing. <br>
				During robot safety inspections, we will be asking questions for this, and during the finals teams will not be allowed to compete unless the judges are satisfied
				that the robot is doing all its own processing.
			</p>
		</div>
	</details>

	<details>
		<summary>Are ball bearings inside the robot scored?</summary>
		<div class="answer">
			<p>Yes, the "direct contact" wording was used to prevent ambiguity from previous years. If the ball is touching a part of the robot anywhere, it is scored, even if that is inside the robot if you have some collection mechanism. However, if your robot is for example in the shape of the letter "U", and the ball is within the U but not touching the actual robot, it would not be counted. In the case where there are two ball bearings, A and B, if ball bearing A attaches itself to a teams robot magnetically, then ball bearing B attaches itself to ball bearing A only, it would be counted by extension.</p>
		</div>
	</details>

	<details>
		<summary>In the event of a collision, are both colliding robots reset?</summary>
		<div class="answer">
			<p>All robots that are colliding are reset as previous years, however, this year, if the balls are contained within or physically attached the robot (such that when the robot is picked up, the balls come with it) the balls will be kept within the robot (see rule 1.11.2). <br> 
				The process for a reset happens like so: <br> </p>
			<ul>
				<li>Two (or more) robots collide</li>
				<li>If the robots are in contact for 3 seconds (assessed by the referees), the scoring system plays a buzzer noise</li>
				<li>A 10 second reset timer begins</li>
				<li>The robots are picked up by the <b>field resetters</b>, and handed back to the teams</li>
				<li>The teams wait until the 10 second reset timer is complete, the scoring system will play another buzzer, then can place their robot back into the arena in their starting zone  (the team can press their physical start button again as per rule 1.11.3)</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>What if our robot is larger than the allowable size (200x200x200mm)?</summary>
		<div class="answer">
			<p>At the regionals, if the robots are slightly (20-30mm) over the limit we will allow them to compete. During the finals, inspections will be conducted with a sizing tool made exactly to 200x200x200mm and 300x300x300mm (for extensions), and if the robot is larger than these tools it won't be allowed to compete for the prizes. This is to make it more fair for teams as in previous years we have been a bit lax on this rule and that has lead to some teams feeling unfairly treated.</p>
		</div>
	</details>



</div>
