
<div class="faq">
  <div class="faq-header">
    <h1>Frequently Asked Questions</h1>
    <p>Click a question to expand the answer.</p>
  </div>

  <details>
    <summary>What is Unibots?</summary>
    <div class="answer">
      <p>Unibots is an inter-university robotics competition where teams build autonomous robots
to accomplish the competition task. Registration is free for students from universities in
the UK. <br>
Created in 2022 by students from University of Cambridge and King's College London
societies, the format has evolved over the years with different objectives and scoring
points. <br>
This fourth edition of Unibots is co-hosted by University of Cambridge Robotics Society,
Heriot Watt University Robotics Society, and Queen Mary University of London Electronics
Society. <br> 
The competition is designed with manageable tasks that have a linear effort-to-reward
ratio. We intend for the simple playing field, clear-cut rules, and overall friendly
atmosphere to make the competition accessible to less experienced students or those
who do not have access to large funding sources or support. Robots will compete directly
with other robots in the same arena, promoting friendly rivalries among teams and making
the experience more exciting. <br>
We hope to grow this competition so that we can build a strong network between robotics
societies across the UK. <br></p>
    </div>
  </details>

  <details>
    <summary>What are the Dates for 2026?</summary>
    <div class="answer">
      <p></p>
    </div>
  </details>

  <details>
    <summary>Where can I find the rule book?</summary>
    <div class="answer">
      <p></p>
    </div>
  </details>

  <details>
    <summary>How do I register?</summary>
    <div class="answer">
      <p></p>
    </div>
  </details>

  <details>
    <summary>How do I Sponsor?</summary>
    <div class="answer">
      <p></p>
    </div>
  </details>

</div>
