

<div class="about-content faq">
	<img src="{{ '/assets/images/P1016077.JPG' | relative_url }}" style="width:100%">

	<div class="about-header">
		<h1>FAQs For Teams</h1>
	</div>
	<div class="faq-header">
		<h1>Frequently Asked Questions</h1>
		<p>Click a question to expand the answer.</p>
	</div>

	<details>
		<summary>Can non-students (e.g. lecturers, technicians) help build the robot?</summary>
		<div class="answer">
			<p>Generally the students should be doing a majority of the design and building work, but if you were to ask lecturers for their advice, or for them to check over designs, that would be well within the rules! So students doing the actual work, lecturers there to verify and scrutinise!</p>
		</div>
	</details>

	<details>
		<summary>Is there a maximum amount of ping pong balls/ball bearings that the robot can hold at any given time?</summary>
		<div class="answer">
			<p>There is no maximum, the robot can hold as many as it wishes!</p>
		</div>
	</details>

	<details>
		<summary>Is there a maximum number of team members?</summary>
		<div class="answer">
			<p>There is no maximum, however you may very quickly encounter a "too many cooks" situation when trying to design the robot!</p>
		</div>
	</details>

	<details>
		<summary>Can I connect my robot to a laptop or other external device during the match?</summary>
		<div class="answer">
			<p>No, all processing, be that action prediction, computer vision, etc. must be done within the bounds of the robot. For example, you cannot connect your robot's control system
				to a laptop arena side which is aiding the computer vision; or connect your robot control system to an online LLM which is aiding in action prediction. </br>
				Computer vision and action prediction can be performed, as long as all processing is done within the robot. This could be using a standard Raspberry Pi
				within the robot, a NVIDIA Jetson device, or other single board computer. Processing can also be performed on a mobile phone contained within the robot's body,
				and may be connected wirelessly. Again, this mobile device must not then connect to the internet for further processing. </br>
				During robot safety inspections, we will be asking questions for this, and during the finals teams will not be allowed to compete unless the judges are satisfied
				that the robot is doing all its own processing.
			</p>
		</div>
	</details>

	<details>
		<summary>Can the ball bearings be inside the robot?</summary>
		<div class="answer">
			<p>Yes, the "direct contact" wording was used to prevent ambiguity from previous years. If the ball is touching a part of the robot anywhere, it is scored, even if that is inside the robot if you have some collection mechanism. However, if your robot is for example in the shape of the letter "U", and the ball is within the U but not touching the actual robot, it would not be counted. In the case where there are two ball bearings, A and B, if ball bearing A attaches itself to a teams robot magnetically, then ball bearing B attaches itself to ball bearing A only, it would be counted by extension.</p>
		</div>
	</details>

	<details>
		<summary>Can we attend both the regional events in Cambridge and Edinburgh before the finals? </summary>
		<div class="answer">
			<p>Yes you can attend both regionals! The only thing to keep in mind is that we don’t sponsor any travel costs.</p>
		</div>
	</details>

	<details>
		<summary>Will there be a fee to attend events or register a team?</summary>
		<div class="answer">
		  <p>There is no fee to attend events nor to register a team for this season!</p>
		</div>
	</details>
	
	<details>
		<summary>Are we supposed to have a working robot by February for the regionals? Do they impact the qualifications?</summary>
		<div class="answer">
			<p>Regionals are created for you to trial your robot and see the arena in person and your robot in action so ideally you want a somewhat working robot. But it does not need to be « finalised » until the finals day in July.</p>
		</div>
	</details>
	
	<details>
		<summary>When should I register my teams by?</summary>
		<div class="answer">
			<p>At the moment, there is no deadline for the general sign up as we have the finals quite late this season. But signing up now means you will get any new information -such as details & sign ups forms regarding regionals straight into your inbox/chat. You don’t need to have ALL the info now to sign up, it also helps us gauge the interest for any goodies coming up this year. </p>
		</div>
	</details>
	
	<details>
		<summary>Where do I sign up to attend a regional?</summary>
		<div class="answer">
			<p> The sign-up for the Edinburgh regional is now available! It can be found <a href="https://forms.gle/MEmCFYiD9ZmqYP649">here</a>!</p></br>
			<p> The sign-up for the Cambridge regional will be opened at the start of March!</p>

		</div>
	</details>

</div>
