<div class="content">
    <h2>Proudly supported by:</h2>
    <!-- <div class="sponsor">
        <img src="{{ '/assets/images/Website-Logo_BoltBlue.png' | relative_url }}" height="100" alt="Accu logo" class="sponsor-logo">
        <p class="sponsor-description"><a href="https://www.accu.co.uk/" target="_blank">Accu</a> is a leading provider of engineering components, and is a great place to source all the parts you need for Unibots 2026.</p>
    </div> -->
    <div class="sponsor">
        <img src="{{ '/assets/images/NR_Logo.png' | relative_url }}" height="100" alt="National Robotarium logo" class="sponsor-logo">
        <p class="sponsor-description"><a href="https://thenationalrobotarium.com/" target="_blank">The National Robotarium</a> is a global research institute at Heriot-Watt University. We create innovative solutions to global challenges, working directly with industry to test and develop robotic, AI and automated technologies and rapidly move pioneering research from lab to market.</p>
    </div>
        <div class="sponsor">
        <img src="{{ '/assets/images/UKESF-Logo.png' | relative_url }}" height="100" alt="UK Electronics Skills Foundation Logo" class="sponsor-logo">
        <p class="sponsor-description"><a href="https://www.ukesf.org/" target="_blank">The UK Electronics Skills Foundation</a> are the voice for skills in the UK Electronics Industry. Through engagement with Schools, Universities, and Industry, it is their mission to encourage more young people to study Electronics and pursue careers in the sector.</p>
    </div>
    <div class="sponsor">
        <img src="{{ '/assets/images/ooznest_logo.png' | relative_url }}" height="100" alt="Ooznest Logo" class="sponsor-logo">
        <p class="sponsor-description"><a href="https://ooznest.co.uk/" target="_blank">Ooznest</a> are not just about selling components; they are about empowering you to bring your ideas to life. They provide a wide range of products for mechanical projects, from their aluminium extrusion system to their distinct, application-specific component kits. Ooznest proudly sponsor the Unibots UK 2026 arena!</p>
    </div>
</div>
